*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hireMe{
    width: 100vw;
    height: 100vh;
    position: relative;
        top: 90px;  ;
}
.hireMe>iframe{
    width: 100%;
    height: 90vh;
    scrollbar-width:0;
    scroll-behavior: none;
}